<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Anime Trivia Collection</title>
    <link rel="stylesheet" href="static/style_home.css">
</head>
<body>

<h1>Anime Trivia Collection</h1>
<hr>
<h2>Select any game below:</h2>

<img src="static/collection.jpg" alt="Anime Collage" height="450">
<br><br>
<a href="anime">🎥 Guess the Anime Name 🎥</a>
<br><br>
<a href="character">🪪 Guess the Character's Name 🪪</a>
<br><br>
<a href="trivia">📝 Anime Trivia Questions 📝</a>

</body>
</html>